/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Variables ************/
:root {
  --primary-color: #001a0b;
  --secondary-color: #a3b575;
  --white-color: #ffffff;
  --black-color: #252525;
  --gray-color: #f2f2f2;
  --success-color: green;
  --danger-color: red;

  --verde-oscuro: #577257;
  --verde-medio: #a4cd79;
  --verde-claro: #d8eab4;
  --verde-amarillo: #96a20e;
  --verde-amarillo-claro: #d5dd5e;
  --gris-verde-claro: #6d8475;
  --gris-verde-oscuro: #182d1d;
  --gris-claro-oscuro: #808080;
  --gris-claro-medio: #c4c4c2;
  --gris-claro-claro: #dbd9d8;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
   box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--black-color) !important;
  color: var(--white-color) !important;
  font-family: 'Centra', sans-serif !important;
  height: 100%;
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }

  *{
    overflow-x: hidden;
  } 
}

@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
    overflow-x: hidden;
  }

/* {
  overflow-x: hidden;
  }*/ 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

/* @media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
} */

p.success {
	color: var(--success-color);
}

p.danger {
	color: var(--danger-color);
}

.App {

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/large-background.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; 
  filter: blur(3px);
  z-index: -1; 
}

@media (max-width: 768px) {
  .App::before {
    top: -20vh;
    background-color: #81817f;
  }
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  transition:  0.32s ease-in-out;
  height: 8rem;
}


nav.navbar.scrolled {
  padding: 5px 0;
  background-color: var(--black-color);
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  color: var(--white-color) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.75;
  justify-content: center;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icon {
    display: flex;
    justify-content: space-evenly;
    margin-left: 14px;
    padding: 20px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: var(--white-color);
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--white-color);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: var(--black-color);
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

/* Aplica la animación al navbar-toggler */
nav.navbar .navbar-toggler {
  animation: bounce 0.6s ease;
  background-color: var(--gris-claro-oscuro);
  height: 3rem;
  width: 6rem;
  
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--white-color);
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid var(--white-color);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: var(--white-color);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: var(--white-color);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: var(--white-color);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.social-icon .cv-button {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 70px;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: var(--white-color);
}

.social-icon .cv-button::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: var(--white-color);
  border-radius: 70px;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon .cv-button:hover::before {
  transform: scale(1);
}

@media (max-width: 768px) {
  nav.navbar {
    position: fixed; /* Asegúrate de que el navbar permanezca en la parte superior */
    background-color: var(--black-color); /* Fondo negro en pantallas pequeñas */
    padding: 20px 0;
    height: auto;
  }

  nav.navbar .container {
    justify-content: space-around;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  
  nav.navbar {
    position: fixed; /* Asegúrate de que el navbar permanezca en la parte superior */
    background-color: var(--black-color); /* Fondo negro en pantallas pequeñas */
    padding: 20px 0;
    height: auto;
  }

  span.navbar-text {
    flex-direction: column;
  }

  nav.navbar .container {
    justify-content: space-around;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  
  nav.navbar {
    position: fixed; /* Asegúrate de que el navbar permanezca en la parte superior */
    background-color: var(--black-color); /* Fondo negro en pantallas pequeñas */
    padding: 40px 0;
    height: auto;
  }

  span.navbar-text {
    flex-direction: column;
  }

  nav.navbar .container {
    justify-content: space-around;
  }
}

/************ Banner CSS ************/
.banner {
  position: relative;
  width: 100%; /* Asegura que el banner ocupe todo el ancho del contenedor padre */
  height: 100vh; /* Asegura que el banner ocupe el 100% de la altura de la ventana */
  overflow: hidden; /* Esconde cualquier contenido que sobresalga */
}

/*.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/prueba1.png');
  background-position: center center; /* Centra la imagen horizontal y verticalmente 
  background-size: cover; /* La imagen cubrirá todo el contenedor 
  background-repeat: no-repeat; /* Evita que la imagen se repita 
  filter: blur(3px); /* Aplica el desenfoque 
  z-index: -1; /* Coloca la imagen desenfocada detrás del contenido 
}*/

.banner-container {
  max-width: 1200px;
  margin: 0 auto;
}

.banner-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.banner-col {
  flex: 1;
}

.bannerPack {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bannerTitulo,
.bannerH1 {
  margin-bottom: 20px; /* Espaciado entre elementos */
}

.bannerParrafo {
  margin-top: auto; /* Empuja el párrafo hacia abajo */
}

.tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 40px 0 0 0;
  background: linear-gradient(90.21deg, rgba(var(--gris-verde-oscuro), 0.5) -5.91%, rgba(var(--verde-medio), 0.5) 111.58%);
  border: 1px solid rgba(var(--white-color), 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  color: rgb(5, 5, 5);
  display: block;
  margin-bottom: 20px; /* Espaciado debajo del h1 */
}

.banner .txt-rotate {
  display: inline-block;
  margin-bottom: 20px; /* Espaciado debajo del texto rotatorio */
}

.banner p {
  color: var(--white-color);
  font-size: 21px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  text-align: justify;
  margin-top: 20px; /* Espaciado arriba del párrafo */
}

.banner img {
  animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
}
}
.txt-rotate > .wrap {
  border-right: 0.08em solid var(--black-color);
}

.banner, .bannerPack, .bannerTitulo, .bannerH1, .bannerParrafo {
  overflow: hidden;
}


/* Media Queries */
@media (max-width: 768px) {
  .banner {
    padding: 80px 0 0 0;
  }

  .banner::before {
    filter: blur(8px); /* Aplica el desenfoque */
  }
  
  .banner-container, .banner-row, .banner-col , .bannerPack{
    padding: 0 3px;
  }

  .banner h1 {
    font-size: 50px; /* Tamaño más pequeño del h1 en pantallas pequeñas */
    margin-bottom: 15px; /* Espaciado debajo del h1 en pantallas pequeñas */
    height: 30rem; /* Tamaño del h1 para pantallas pequeñas */
  }

  .banner .txt-rotate {
    margin-bottom: 5px; /* Espaciado debajo del texto rotatorio en pantallas pequeñas */
    overflow:hidden ;
  }

  .banner p {
    font-size: 15px;
     margin-bottom: 0rem;
  }
  
}

@media (min-width: 768px) and (max-width: 1500px) {
  .banner {
    padding: 14vh 0 0 0;
  }
.banner-col > div {
  height: 100%;
  /* Otros estilos como border, padding, etc. si es necesario */
}
  .banner-container, .banner-row, .banner-col , .bannerPack{
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
  }

  .banner-col > div {
    height: 100%;
    /* Otros estilos como border, padding, etc. si es necesario */
  }
  .banner-col > div > div {
    height: 100%;
    /* Otros estilos como border, padding, etc. si es necesario */
  }
  
  .bannerTitulo {
    padding: 2vh 0 0 0;
  }

  .banner h1 {
    font-size: 55px; /* Tamaño más pequeño del h1 en pantallas medianas */
    margin-bottom: 8px; /* Espaciado debajo del h1 en pantallas medianas */
    height: 28rem; /* Tamaño del h1 para pantallas medianas */
  }

  .banner .txt-rotate {
    margin-bottom: 18px; /* Espaciado debajo del texto rotatorio en pantallas medianas */
  }

  .banner p {
    font-size: 20px;
    /*margin-top: 210px; /* Espaciado arriba del párrafo en pantallas medianas */
  }

  .tagline {
    height: 7rem;
  }

}

@media (min-width: 1500px) {
  .banner {
    height: 100%;
  }

  .tagline {
    padding: 180px 0 0 0;
  }

  .banner h1 {
    font-size: 65px; /* Tamaño del h1 en pantallas grandes */
    margin-bottom: 20px; /* Espaciado debajo del h1 en pantallas grandes */
    height: 16rem; /* Tamaño del h1 para pantallas grandes */
  }

  .banner .txt-rotate {
    margin-bottom: 20px; /* Espaciado debajo del texto rotatorio en pantallas grandes */
  }

  .banner p {
    font-size: 21px;
    /*margin-top: 400px; /* Espaciado arriba del párrafo en pantallas grandes */
  }
}

/************ Skills Css ************/
.skill {
  padding: 70px 0 50px 0;
  position: relative;
  height: 100vh;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  /* background: linear-gradient(to right, #41554a, #789282); */
  /*background-image: url('./assets/img/prueba22.jpg');
  background-position: center bottom; /* Centra la imagen horizontal y verticalmente */
  /*background-size: cover; /* La imagen cubrirá todo el contenedor */
  /*background-repeat: no-repeat; /* Evita que la imagen se repita */
}


.skill-bx {
  background: var(--verde-oscuro);
  border-radius: 64px;
  text-align: center;
  padding: 5px 0;
  box-shadow: 3px 3px 6px 0px var(--gris-verde-oscuro), -3px -3px 3px 0px var(--gris-verde-claro); /* Neumorfismo */
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
    color: var(--gray-color);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 3px ;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

@media (max-width: 768px) {

  .skill {
    padding: 0 0 30vh 0; 
  }

  .skill-bx {
    margin-top: 0px;
    transform: scale(0.9);
  }

  .skill p {
    color: var(--gray-color);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 15px 0;
    padding: 0 1vh;
}

.skill-slider .item img {
  width: 25%;
  margin: 0 auto 15px auto;
}
}

@media (min-width: 1024px) {
  /* .skill {
    margin-top: 4rem;
  } */
}

/************ Projects Css ************/

.project {
  padding: 80px 0;
  position: relative;
  overflow: hidden; /* Esconde cualquier contenido que sobresalga */
}


.projectVideo {
  padding: 80px 0;
  position: relative;
  height: 100vh;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.project h2, .projectVideo h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.project p, .projectVideo p {
  color: var(--gray-color);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
  cursor: pointer;
}
.project .nav.nav-pills .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: var(--white-color);
  width: 100%;
  height: 96px;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, var(--gris-verde-oscuro) -5.91%, var(--verde-claro) 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  height: 100%;
  cursor: pointer;
}

.proj-imgbx img{
  width: 100%; /* Ancho de la imagen al 100% del contenedor */
  height: 100%; /* Altura de la imagen al 100% del contenedor */
  object-fit: cover; /* Escala la imagen para que cubra todo el contenedor, manteniendo la relación de aspecto */
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, var(--gris-verde-oscuro) -5.91%, var(--verde-claro) 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project-grid-item {
  height: 300px; /* Altura fija para todas las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Asegúrate de que el contenido no se desborde */
}

.project-grid-item img {
  max-height: 100%;
  object-fit: cover;
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
}

.project-card {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.projectVideo h2 {
  margin-bottom: 10px;
}

.projectVideo p {
  margin-bottom: 20px;
}

.project-timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 80%;
}

.project-timeline-box {
  display: inline-block;
  padding: 20px;
  border-radius: 15px;
  background: var(--gris-verde-claro);
  box-shadow: 3px 3px 7px 0px #434343, -2px -1px 9px 0px #f5f5f5; /* Neumorfismo */
  color: var(--gris-verde-oscuro);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.project-timeline-box:hover {
  box-shadow: 15px 15px 30px #a3a3a1, -15px -15px 30px #ffffff;
  background-color: var(--gris-verde-claro);
}

.project-timeline-box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, rgba(255,255,255,0.15) 60%, transparent);
  background-size: 50px 50px;
  animation: rotate 10s linear infinite;
  z-index: 0;
}

.project-timeline-box-content {
  position: relative;
  z-index: 1;
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%; /* Asegúrate de que el contenedor no se desborde */
}

/* Ajusta el iframe para que ocupe el espacio disponible y mantenga la relación de aspecto */
.video-container iframe {
  width: 100%;
  height: 315px; /* Ajusta la altura según la relación de aspecto deseada */
  max-width: 560px; /* Ancho máximo del iframe, opcional */
  border: none; /* Elimina el borde por defecto del iframe */
}

.timeline-link {
  display: block; /* Asegúrate de que el Link ocupe todo el espacio del contenedor */
  text-decoration: none; /* Elimina el subrayado del texto */
  color: inherit; /* Hereda el color del contenedor para que el estilo no cambie */
  width: 100%; /* Asegúrate de que el Link ocupe todo el ancho del contenedor */
  height: 100%; /* Asegúrate de que el Link ocupe todo el alto del contenedor */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}
/* Estilos específicos para el botón dentro del Link */
.project-timeline-button {
  background-color: var(--gris-verde-oscuro); /* O el color de fondo que prefieras */
  color: #fff; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center; /* Asegúrate de que el texto esté centrado dentro del botón */
}

/* Estilos al pasar el cursor sobre el botón */
.project-timeline-button:hover {
  background-color: var(--gris-verde-claro); /* O el color de fondo en estado hover */
  border: var(--gris-verde-oscuro) 1px solid;
}

@media (max-width: 768px) {
  .project {
    padding: 0 0 30vh 0;
  }

  .project p {
    width: 100%;
  }

  .projectVideo {
    padding: 0 0 20vh 0;
    height: auto;
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .project-timeline-container {
    overflow: hidden;
    width: 100%;
}

.project p, .projectVideo p {
  width: 100%;
}
}

@media (min-width: 768px) and (max-width: 1000px) {
  .project {
    padding: 30vh 0 40vh 0;
  }

  .project p {
    width: 100%;
  }

  .projectVideo {
    padding: 50vh 0 20vh 0;
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .timeline-link {
  height: auto;
  }
}

/************ Contact Css ************/
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: var(--white-color);
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact img {
  width: 80%;
  border-radius: 50%;
  box-shadow: inset 20px 0px 20px 20px #010101, inset -20px -1px 20px 20px #545454, 7px 0px 13px 1px #a3a3a1, -14px 1px 7px rgb(96, 94, 92); /* Neumorfismo */
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}


.contact form input.error, .contact form textarea.error {
  border-color: red;
}

.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: var(--black-color);
}

.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
}

.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: var(--black-color);
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: var(--white-color);
}

.contact form button::before {
  content: "";
  background: var(--black-color);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

.success {
  color: var(--gris-verde-oscuro);
  font-weight: bold;
  margin-top: 10px;
}

.danger {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.contact > .container {
  padding: 0 0 4rem 0;
}



@media (max-width: 1200px) {
  .contact {
    height: auto;
    padding: 0px 5px 5vh 5px;
  }

  .contact h2 {
    padding: 0 5px;
  }

  .contact form input, .contact form textarea {
    width: 90%;
    margin: 0.5rem 1rem;
  }

  .contact form button {
    margin: 0 30%;
  }

  .contact img {
    transform: scale(0.8); 
    width: 100%;
  }

  .contact > .container {
    padding: 0 0 0 0;
  }
  
}


@media (min-width: 768px) and (max-width: 1000px) {
  .contact {
    height: auto;
    padding: 80vh 0 20vh 0;
  }

}

/************ Footer Css ************/
.footer {
  /* padding: 0 0 50px 0; */
  background-image: url('./assets/img/footer.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: var(--white-color);
  border-radius: 55px;
  color: var(--black-color);
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: var(--white-color);
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, var(--gris-verde-oscuro) -5.91%, var(--verde-medio) 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: var(--white-color);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: var(--black-color);
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, var(--gris-verde-oscuro) -5.91%, var(--verde-medio) 111.58%);
  padding: 20px 65px;
  color: var(--white-color);
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-color);
  letter-spacing: 0.5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/************ TimeLine Css ************/

.timeline-container {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: 0;
  padding: 13vh 0 0 0;
  background: var(--gris-claro-claro);
  overflow: visible; /* Cambiado de hidden a visible */
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gris-verde-oscuro);
  position: relative;
  background-color: var(--gris-claro-claro);
  padding: 20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background: var(--gris-verde-claro);
  top: 12rem;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  z-index: 0;
}

.timeline-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 80px 0 20px 0;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
}

.timeline-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  background: var(--gris-claro-claro);
  color: var(--gris-verde-oscuro);
  padding: 15px 10px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px #a3a3a1, -6px -6px 12px #ffffff; /* Neumorfismo */
  cursor: pointer;
  transition: all 0.3s ease;
}

.timeline-year:hover {
  box-shadow: 6px 6px 12px #a3a3a1, -6px -6px 12px #ffffff;
  background-color: var(--gris-verde-claro);
}

.timeline-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.timeline-iconContainer {
  width: 45%;
  padding: 2rem 0;
  color: var(--gris-verde-oscuro);
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.timeline-item:nth-child(odd) .timeline-iconContainer {
  justify-content: flex-end;
}

.timeline-item:nth-child(even) .timeline-iconContainer {
  justify-content: flex-start;
}

.timeline-icon {
  color: var(--gris-verde-oscuro);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 6px 6px 12px #a3a3a1, -6px -6px 12px #ffffff;
}

.timeline-icon img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: #ccccbe 2px solid;
  box-shadow: 6px 6px 12px #a3a3a1, -6px -6px 12px #ffffff; /* Neumorfismo */
}

.timeline-icon:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px #a3a3a1, -6px -6px 12px #ffffff;
}

.timeline-item .timeline-image {
  margin-bottom: 10px;
}

.timeline-item .timeline-image img {
  max-width: 100%;
  border-radius: 8px;
}

.timeline-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 0 0 10px 0;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: var(--gris-claro-claro);
  color: var(--gris-verde-oscuro);
  border-radius: 12px;
  width: 45%;
  margin-right: 2vh;
  margin-left: 2vh;
  position: relative;
  box-shadow: 9px 9px 16px #a3a3a1, -9px -9px 16px #ffffff; /* Neumorfismo */
  cursor: pointer;
  transition: all 0.3s ease;
}

.timeline-content:hover {
  background: var(--gris-claro-medio);
  box-shadow: 6px 6px 12px #a3a3a1, -6px -6px 12px #ffffff;
  transform: scale(1.05);
  background-color: var(--gris-verde-claro);
}

.timeline-content h3 {
  margin: 0;
}

.timeline-item p {
  font-size: 18px;
  line-height: 1.5;
}

.timeline-buttons {
  left: 0;
  width: 100%;
  background-color: var(--gris-claro-claro);
  z-index: 1;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px 0;
}

.timeline-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  color: var(--gris-verde-oscuro);
  background-color: var(--gris-claro-claro);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  box-shadow: 3px 3px 7px 0px #a3a3a1, -2px -1px 9px 0px #ffffff; /* Neumorfismo */
  z-index: 1;
}

.timeline-buttons button:hover {
  background-color: var(--gris-claro-medio);
}

.timeline-buttons button.active {
  background-color: var(--gris-claro-medio);
  color: var(--gris-verde-oscuro);
}

@media (max-width: 768px) {

  .timeline {
    padding: 0 0 6vh 0;
    top: 4rem;
  }

  .timeline::after {
    top: 0px;
  }

  .timeline-item {
    margin: 40px 0 0 0;
  }

  .timeline-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    padding: 0 0 3rem 0; /* Agregar margen inferior */
  }

  .timeline-content {
    width: 35%;
    padding: 15px;
  }

  .timeline-buttons {
    position: absolute; 
    top: 1rem;
    padding: 1rem 5px 0.5rem 5px;
  }

  .timeline-buttons button {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timeline-icon img {
    width: 100px;
    height: 100px;
  }

  .timeline-iconContainer {
    display: flex;
    width: 40%;
  }

  .timeline-content {
    transform: scale(0.9);
  }
  .timeline-content:hover {
    transform: scale(0.92);
  }
  .footer {
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {

  .timeline-item {
    margin: 10rem 0 20px 0;
  }

  .timeline-container {
    margin-top: 1rem;
  }

  .timeline-content {
    transform: scale(0.9);
  }
  .timeline-content:hover {
    transform: scale(0.92);
  }
}
